@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

hmtl,
body {
  margin: 0px;
  height: 100%;
  width: auto;
  @apply bg-gray-50;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.375rem;
  @apply shadow-sm;
}

.line {
  display: inline-block;
}

@layer components {
  .form-label {
    @apply block mb-1.5 text-sm font-semibold text-gray-900;
  }

  .form-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5;
  }

  .form-button {
    @apply flex w-full justify-center rounded-md bg-indigo-600 hover:bg-indigo-700 px-5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .form-button-inactive {
    @apply flex w-full justify-center rounded-md bg-gray-600 hover:bg-gray-700 px-5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .form-button::after,
  .form-button-inactive::after {
    content: 'Sign Up';
  }

  .form-button-inactive:hover::after {
    content: 'Enter valid data to continue';
  }

  .form-button-login {
    @apply flex w-full justify-center rounded-md bg-indigo-600 hover:bg-indigo-700 px-5 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .list-item {
    @apply text-base font-semibold tracking-tight text-gray-700 hover:underline hover:text-indigo-600;
  }

  .chat-box{
    @apply flex flex-row h-[75vh];
  }

  .member-list{
    @apply w-1/5 overflow-y-scroll;
  }

  .member{
    @apply flex flex-row items-center space-x-2 bg-white text-gray-900 font-medium indent-[-9999px] sm:indent-0
    py-3 px-5 my-1 mx-0.5 rounded cursor-pointer shadow;
  }

  .member.active{
    @apply bg-gray-100;
  }

  .member:hover{
    @apply bg-gray-100;
  }

  .chat-content{
    @apply w-4/5 bg-gray-100 rounded ml-2 border border-gray-200;
  }

  .chat-messages{
    @apply h-full overflow-y-scroll rounded;
  }

  .send-message{
    @apply flex flex-row w-full pt-1;
  }

  .input-message{
    @apply w-11/12 bg-gray-200 px-2 text-gray-900 border border-gray-200 outline-none sm:text-sm rounded-lg;
  }

  .send-button{
    @apply w-1/12 ml-1 h-10 cursor-pointer text-gray-900;
  }

  .avatar{
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 5px;
    color:#fff;
  }

  .avatar.self{
    color:#000;
    background-color: greenyellow;
  }

  .message{
    padding:5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
  }

  .message-data{
    @apply p-1;
  }

  .message.self{
    @apply justify-end;
  }

  ul {
    @apply p-0 list-none;
  }
}
